<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap CSS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/0.9.0/p5.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/0.9.0/addons/p5.dom.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/0.9.0/addons/p5.sound.min.js"></script>
  
    <script src="https://unpkg.com/ml5@0.5.0/dist/ml5.min.js"></script>
    <!-- My style -->
    <link href="{{url_for('static', filename = '/css/style.css')}}" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700;800&display=swap" rel="stylesheet">
    <title>Final Project</title>

</head>

<body>
    <header>
        <section class="text-header">
            <h1>Emojify</h1>                    
            <h2>Machine Learning</h2>
        </section>e
        <div class="wave" style="height: 150px; overflow: hidden;" ><svg viewBox="0 0 500 150" preserveAspectRatio="none" style="height: 100%; width: 100%;"><path d="M-1.97,137.66 C337.18,175.16 351.85,21.20 499.72,142.59 L500.27,150.48 L-1.41,153.45 Z" style="stroke: none; fill: rgb(255, 255, 255);"></path></svg></div>
    </header>
   
      
    <script src="static/js/sketch.js"></script>

</body>

</html>